In [1]:
import numpy as np
import pandas as pd
import mysql.connector

In [7]:
server = mysql.connector.connect(user='root',password='janjua',
                              host='localhost')

In [30]:
# Connect to the server

In [8]:
cursor=server.cursor()

In [9]:
sql="CREATE DATABASE IF NOT EXISTS PythonSQL;"
cursor.execute(sql)

In [31]:
# Create a database on server

In [10]:
sql="USE PythonSQL"

In [11]:
cursor.execute(sql)

In [13]:
sql='''CREATE TABLE IF NOT EXISTS owners(id integer NOT NULL AUTO_INCREMENT,
                                        name varchar(30) NOT NULL,
                                        gender varchar(10),
                                        phone integer,
                                        PRIMARY KEY (id));'''

#Create a table named onwers

In [14]:
cursor.execute(sql)

In [25]:
sql='''CREATE TABLE IF NOT EXISTS pets(petId integer NOT NULL AUTO_INCREMENT,
                                        name varchar(30) NOT NULL,
                                        gender varchar(10),
                                        species integer,
                                        age integer,
                                        PRIMARY KEY (petId));'''

In [32]:
#create a table named pets

In [26]:
cursor.execute(sql)

In [27]:
sql="SHOW tables;"
cursor.execute(sql)

In [28]:
print(cursor.fetchall())

[('owners',), ('pets',)]

In [33]:
# tables have been created at the server